<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="static/javascript/style.css">
</head>

<body style="background-color: rgb(250, 248, 241);">
{% block javascript %}
<script>
    var pokemonInfo = {{ info | tojson }};
    console.log(pokemonInfo);
</script>
{% endblock %}
<script src="static/javascript/navbar.js"></script>

<h1>Pok&eacute;mon:</h1> 
<h2>Gotta Catch 'Em All</h2><br>    
<h4> Please select your pokemon by typing in the Pokemon's name </h4>
<h4> You can randomly select any pokemon, or filter by generation and type of pokemon.</h4><br>

<div class="container">
    <div class="row">
      <div class="col">
        <aside class="filters">
            <div class="panel panel-default">
                <form id="filter-form">
                  <ul class="list-group" id="filters">
                    <div class="panel-body">
                      <li class="filter list-group-item">
                    <button id="click-me" type="button" class="btn btn-danger">Click here for a random Pok&eacute;mon</button>
                    <br> 
                      </li>
                      <li class="filter list-group-item">
                        <label for="input-name">Pok&eacute;mon Name</label>
                        <input class="form-control" id="input-name" type="text" placeholder="Pikachu">
                      </li>
                      <li class="filter list-group-item">
                        <button id="filter-btn" type="submit" class="btn btn-default">Search by Name</button>
                      </li>
                      <li class="filter list-group-item">
                        <label for="generation">Generation</label>
                        <input class="form-control" id="generation" type="text" placeholder="1">
                      </li>
                      <li class="filter list-group-item">
                        <label for="type">Pok&eacute;mon Type</label>
                        <input class="form-control" id="type" type="text" placeholder="electric">
                      </li>
                      <li class="filter list-group-item">
                  <button id="filter-gen" type="submit" class="btn btn-default">Filter by Type and Gen.</button>
                      </li>
                  </ul>
                </form>
            </div>
          </aside>
        </div>
      <div class="col">
        <div class="pokemoncard">
          <img src="static/images/pokemon/pikachu.jpg" id="pokemon-image" width="300"/>
            <h2 id="pokemon-name">Pikachu</h2>
            <br>
              <p id="pokemon-entry">Here you will see the Pokemon blurb</p>
              <br><!--
              <p id="gen">generation</p>
              <p id="classification">classification</p>
              <p id="height">height</p>
              <p id="weight">weight</p>
              <p id="type1">type1</p>
              <p id="type2">type2</p>-->
                <table>
                  <tbody>
                    <tr>
                        <th>Gen:</td>
                        <td id="gen"></td>
                    </tr>
                    <tr>
                        <th>Type 1:</td>
                        <td id="type1"></td>
                    </tr>
                    <tr>
                        <th>Type 2:</td>
                        <td id="type2"></td>
                    </tr>
                    <tr>
                        <th>Classification:</td>
                        <td id="classification"></td>
                    </tr>
                    <tr>
                        <th>Height:</td>
                        <td id="height"></td>
                    </tr>
                    <tr>
                        <th>Weight:</td>
                        <td id="weight"></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="static/javascript/app.js"></script>

</body>
</html>