nav {
  background-color: rgb(233, 211, 85);
  font-size: 70px;
  font-weight: bold;
  color: black;
  text-align: center;
}
   
.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
  width: 100%;
  text-align: center;
}

#topbar-center-logo {
  vertical-align: text-top;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 12pt;
  margin: 10px;
}

.title-bar-center a, img {
  padding: 10px;
}

h1 {
  color : black;
  text-align: center;
  font-weight: bold;
}
  
h2 {
  color : black;
  text-align: center;
  font-weight: bold;
}
  
h4 {
  color : black;
  text-align: center;
}

body {color :cornsilk ;}

tbody {
  padding: 15px;
  text-align: left;
  font-size: 12pt;
}

th {
  padding: 2px;
  font-size: 12pt;
}

td {
  padding-left: 5px;
}


.btn-danger {
  color: black;
  align-content: center;
}

.pokemoncard{
  border-color: black;
  border-style: double;
  width: fit-content;
  background-color: wheat;
  margin: auto;
  padding: 20px;
  color: black;
}

.filter-header {
  background-color: red;
}

.button1 {

  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
 background-color: #e7e7e7; 
 color: black;
}

#filter-btn { background-color: #e7e7e7; 
 color: black;
 align-content: center;
 display: inline-block;
}

#filter-gen { background-color: #e7e7e7; 
 color: black;
 align-content: center;
 display: inline-block;
}

